* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face{
    font-family: "Fira Code";
    src: url("src/assets/Fira_Code/FiraCode-VariableFont_wght.ttf");
}

a {
    text-decoration: none;
}


